site_name: Stationeers Modding

theme:
  name: material
  palette: 
    # Palette toggle for dark mode
    - scheme: slate
      primary: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/StationeersLaunchPad/docs
      name: Contribute
